$primary: #23023B;
$secondary: #C6FF41;
$info: #20F4FF;
$warning: #FFFCA8;
$light: #C9FFFF;
@import 'bootstrap/scss/bootstrap';

body{
    background-color: $primary;
}

.vertical-line{
    background: linear-gradient(to right, $primary 1%, $info 5%, $primary 50%);
}

.Mynavbar{
    background-color: $primary;
}

.IniciarSesion{
    background-color: $light;
}

.Registrarse{
    background-color: $secondary;
}
