* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Mynavbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 85px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}
.Mynavbar img {
    width: 60px;
    height: 60px;
    margin-left: 50px;
    margin-right: 50px;
}
.Mynavbar .PreNavBar {
    display: flex;
    width: 33%;
    height: 60%;
    text-decoration: none;
    color: black;
}
.PostAuthNavbar{
    display: flex;
    width: 200px;
    height: 60%;
}
.SobreNosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border: solid rgb(255, 255, 255) 1px;
    height: 100%;
    width: 100%;
}

.IniciarSesion,
.Registrarse {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 25px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}
.ContenidoPrincipalDelXD {
    background-color: #23023b;
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Myfooter {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #23023b;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Myfooter1,
.Myfooter2 {
    display: flex;
    width: 90%;
    height: auto;
    min-height: 50px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
.MyFooterDiv {
    width: 27%;
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: space-around;
}
.MyFooterDiv img {
    width: 30px;
    height: 30px;
}
.name,
.AdminMensaje {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 18%;
    height: 60%;
    color: white;
}
.IMGINDEX {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.shadow-dance-text {
    letter-spacing: 20px;
    font-size: 150px;
}
.ContenidoTexto {
    margin-top: 15px;
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: white;
}
.ContenidoMain {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.shadow-dance-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.shadow-dance-container,
.ContenidoTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.carouselIndex {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background: linear-gradient(
        to top,
        #23023b,
        rgba(255, 255, 255, 0.57) 60%,
        #23023b
    );


}
.carouselIndex h2{
    font-size: 60px;
    color: #C6FF41;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
}

.swiper-slide img {
    border-radius: 15px;
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
    display: block;
    width: 100%;
    height: 100%;
}

.ColaboladoresDelMain {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 300px;
    background-color: #23023b;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
}
.ColaboladoresDelMain h2{
    font-size: 70px;
    color: #C6FF41;
    margin-bottom: 30px;
}
.ColaboladorMarca{
    display: flex;
    margin-top: 10px;
    width: 80%;
    height: auto;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.ColaboladorMarcaImagen {
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6);
    animation: pulsoBrillo 2s infinite alternate;
}
.UsuarioIcono{
    display: flex;
    height: 50px;
    width: 35%;
    justify-content: center;
    align-items: center;
    color: black;
}
.UsuarioIcono .icono{
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    background-color: #C6FF41;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono img{
    width: 70%;
    height: 70%;
}

.UsuarioIcono .icono .OpcionDesalir{
    position: absolute;
    display: none;
    width: 120px;
    height: auto;
    background-color: #C6FF41;
    top: 100%;
    left: 100px;
    transform: translateX(-50%);
    border-radius: 10px;
}
.OpcionDesalir form{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BotonDeIcono{
    width: 48%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    background-color: #C6FF41;
}

.BotonesDeLasOpciones{
    width: 40%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5px
}
.BotonesDeLasOpciones .PostNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 95%;
    text-decoration: none;
    color: black;
}
.BotonesDeLasOpciones .Myboton {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #C6FF41;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.7s ease-in-out;
}

.BotonesDeLasOpciones .Myboton::after , .IniciarSesion::after,
.Registrarse::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 5px;
    background-color: #23023b;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.BotonesDeLasOpciones .Myboton:hover,
.BotonesDeLasOpciones .Myboton:focus,
.IniciarSesion:hover,
.IniciarSesion:focus,
.Registrarse:hover,
.Registrarse:focus {
    box-shadow: 0 0 15px 5px #C9FFFF;
}

.BotonesDeLasOpciones .Myboton:hover::after,
.BotonesDeLasOpciones .Myboton:focus::after,
.IniciarSesion:hover::after,
.IniciarSesion:focus::after,
.Registrarse:hover::after,
.Registrarse:focus::after {
    width: 100%;
    left: 0;
}

.containerPerfil{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.BotonDeAdministarr, .BotondeLogots,.BotondeMirar{
    width: 100%;
    height: 100%;
}
.BotondeLogots{
    background-color: red;
}
.BotondeMirar{
    background-color: #C6FF41;
}
@keyframes pulsoBrillo {
    0% {
        box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); /* Brillo inicial */
    }
    50% {
        box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8); /* Brillo más fuerte */
    }
    100% {
        box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); /* Vuelve al brillo inicial */
    }
}

.ColaboladorMarcaImagen img{
    width: 100%;
    height: 100%;
}

.Fullwidth{
    display: flex;
    width: 100%;
    height: auto;
}

@media (max-width: 850px) {
    .BotonesDeLasOpciones{
        width: 45%;
    }

    .UsuarioIcono .icono{
        width: 50px;
        height: 50px;
        margin-right: 7.5px;
    }
    .Myfooter {
        flex-direction: row;
    }
    .MyFooterDiv {
        width: 100%;
    }
    .Myfooter1,
    .Myfooter2 {
        display: flex;

        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .Myfooter2 {
        width: 40%;
    }
    .Mynavbar{
        justify-content: center;
    }
    .Mynavbar img {
        margin-left: 20px;
        margin-right: 20px;
    }
    .shadow-dance-text {
        letter-spacing: 10px;
        font-size: 105px;
    }
    .Mynavbar .PreNavBar {
        width: 300px;
    }
    .ContenidoTexto {
        width: 80%;
        font-size: 30px;
    }
    .IniciarSesion,
    .Registrarse {
        font-size: 20px;
    }
    .swiper-slide {
        width: 80%;
        height: 300px;
    }
    .ColaboladorMarcaImagen{
        height: 120px;
    }
    .ColaboladoresDelMain h2{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .ColaboladorMarca{
        width: 95%;
        height: auto;
        justify-content: center;
    }
    .carouselIndex h2{
        font-size: 40px;
        text-align: center;
    }
}


