body {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #23023B;
}

.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background-color: #23023B;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background:#23023B;
}

.colorBox:hover{
    background: #C6FF41;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background:#6e0372;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack{
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}

#img-logo{
    width: 7rem;
    height: auto;
}

#h2-titulo{
    font-size: 5rem;
    color: #C6FF41;
}

.titulo {
    display: block;
    z-index: 3;
    margin-bottom: 2rem;
    width: auto;
}

.content-container {
    flex: 1; /* El contenido ocupa el 50% del ancho */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 80px;
}
.card {
    background-color: rgb(0,0,0, 0.1) !important;
    box-shadow: none !important;
    max-width: 90%;
    width: 400px;
    height: auto;
    margin: 1rem auto;
    border-radius: 10px;
}
.card-body{
    color:#20F4FF !important;
    text-align: left;
}

.p-auth{
    color:#fff !important;

}

.a-auth{
    color:#FFFCA8 !important;
    text-decoration: none;
}

.btn-inicio{
    background-color: #20F4FF !important;
    color: black !important;
    font-size: x-large !important;
    font-weight: bold !important;
}

.btn-inicio:hover{
    background-color: #169fa7 !important;
}


input{
    background-color: rgb(255,255,255, 0.5) !important;
}


@media (max-width: 768px) {
    body {
        flex-direction: column; /* Cambia a orientación vertical en pantallas pequeñas */
    }

    .content-container {
        flex: none;
        width: 100%; /* El contenido ocupa todo el ancho */
        padding: 1rem;
    }

    #img-authLogin, #img-authRegister{
        display: none;
    }

    .card {
        width: 80%; /* La tarjeta ocupa el 90% del ancho en pantallas pequeñas */
    }

    #img-logo{
        width: 5rem;
        height: auto;
    }

    #h2-titulo {
        font-size: 2rem; /* Reduce el tamaño del título */
    }
    .vertical-line{
        background: #23023B;
    }

    .btn-inicio{
        background-color: #20F4FF !important;
        color: black !important;
        font-size: medium !important;
        font-weight: bold !important;
    }
    .p-auth{
        color:#fff !important;
        font-size: small;
        font-family: 'EXO 2';
    }
    .form-label{
        font-size: 15px;
    }
}
